@{
    ViewBag.Title = "Правила користування сайтом";
}



<div id="node-50" class="node">




    <div class="content">
        <div>
            <p>
                <b>Правила користування сайтом</b>
            </p>
            <p>
                Сайт активістів правозахисного руху – це ресурс, який допомагає багатьом людям, об'єднаним однією темою, підтримувати зв'язок один з одним. Сайт «Мережа активістів правозахисного руху» (Далі сайт) – це мережевий проект, який є інтернет-ресурсом і являє собою сукупність інформації, що забезпечує доступність такої інформації в мережі Інтернет за даною мережевою адресою.
            </p>
            <p>
                <b>1. Основні поняття</b>
            </p>
            <p>
                <span>1.1</span>. Користувач Сайту (Користувач) – будь-яка особа, яка здійснює доступ до Сайту за допомогою мережі Інтернет.
            </p>
            <p>
                <span>1.2</span>. Власник Сайту – громадська організація «Правозахисний центр «Поступ». Усі права на Сайт у цілому і на використання мережевої адреси (доменного імені) <a href="http://hr-activists.net" title="http://hr-activists.net" rel="nofollow">http://hr-activists.net</a> належать Власнику Сайту.
            </p>
            <p>
                <span>1.3.</span> Власник Сайту і Користувач Сайту надалі спільно іменуються «сторони», а окремо – «сторона».
            </p>
            <p>
                <span>1.4.</span> Адміністрація Сайту (Адміністрація) – особи, уповноважені Власником Сайту на здійснення управління Сайтом та інших дій, пов'язаних з його використанням. Адміністрація Сайту діє від імені Власника Сайту, якщо інше не буде вказано окремо.
            </p>
            <p>
                <span>1.5.</span> Особисті повідомлення – електронні повідомлення, які передаються одним Користувачем іншому і не доступні третім особам.
            </p>
            <p>
                <span>1.6.</span> Персональна сторінка Користувача – розділ Сайту, доступний Користувачу після реєстрації, за допомогою якого Користувач здійснює управління своїм обліковим записом (акаунтом), розміщення фотографій, інформації, відправлення та одержання особистих повідомлень та інші дії, пов'язані з використанням Сайту.
            </p>
            <p>
                <b>2. Загальні положення</b>
            </p>
            <p>
                <span>2.1</span>. Ці Правила користування Сайтом регулюють відносини між Власником Сайту в особі Адміністрації Сайту і Користувачами Сайту, які виникають у зв'язку з використанням Сайту.
            </p>
            <p>
                <span>2.2.</span> У разі якщо окремі питання не врегульовані цими Правилами або іншою угодою сторін, до відносин сторін застосовується законодавство України. Правила поширюються також на відносини, пов'язані з правами та інтересами третіх осіб, які не є користувачами сайту, але чиї права та інтереси можуть бути порушені в результаті дій користувачів Сайту.
            </p>
            <p>
                <span>2.3.</span> Користувач зобов'язаний повністю ознайомитися з цими Правилами до моменту реєстрації на Сайті. Реєстрація Користувача на Сайті означає повне і беззастережне прийняття ним цих Правил, які є юридично обов'язковою угодою між Користувачем і Адміністрацією Сайту.
            </p>
            <p>
                <span>2.4.</span> Положення цих Правил встановлюються, змінюються та скасовуються Власником Сайту в односторонньому порядку без попереднього повідомлення. З моменту розміщення на Сайті нової редакції Правил попередня редакція вважається такою, що втратила силу. У випадку істотної зміни положень Правил, Адміністрація сповіщає про це Користувачів шляхом розміщення на Сайті відповідного повідомлення.
            </p>
            <p>
                <span>2.5</span>. Діюча редакція Правил розміщена в мережі Інтернет за адресою: <a href="http://hr-activists.net/about/rules/" title="http://hr-activists.net/about/rules/" rel="nofollow">http://hr-activists.net/about/rules/</a>
            </p>
            <p>
                <b>3. Власник Сайту</b>
            </p>
            <p>
                <span>3.1</span>. Власник Сайту є адміністратором домену і власником виключних прав на використання Сайту, програм, баз даних, інформаційних матеріалів і графічних зображень, які входять до його складу і є елементами призначеного для користувача інтерфейсу, інших об'єктів, що входять до складу Сайту, а також на дизайн Сайту.
            </p>
            <p>
                <span>3.2.</span> Власник Сайту є інформаційним посередником і надає послуги щодо передавання, зберігання та забезпечення доступу за допомогою мережі Інтернет до інформації, графічних зображень та інших матеріалів, які надаються Користувачами. Будь-яка інформація, що надається Користувачами і передається за допомогою Сайту, передається без змін та виправлень.
            </p>
            <p>
                <b>4. Користувач Сайту</b>
            </p>
            <p>
                <span>4.1.</span> Права та обов'язки Користувача Сайту виникають у особи з моменту його першого звернення до будь-якої з веб-сторінок, які входять до складу Сайту.
            </p>
            <p>
                <span>4.2.</span> Здійснення прав Користувача в повному обсязі можливе після реєстрації Користувача на Сайті. Для реєстрації Користувач вказує ім'я користувача (адресу електронної пошти) і пароль. З моменту підтвердження реєстрації та активації облікового запису (акаунту) Користувач набуває статусу зареєстрованого Користувача.
            </p>
            <p>
                <span>4.3.</span> Зареєстрованим Користувачам надається вільний доступ до всіх сервісів Сайту.
            </p>
            <p>
                <b>5. Права та обов'язки Адміністрації Сайту</b>
            </p>
            <p>
                <span>5.1</span>. Адміністрація Сайту здійснює поточне управління Сайтом, визначає склад сервісів Сайту, його структуру та зовнішній вигляд, дозволяє та обмежує доступ до Сайту, здійснює інші права, які їй належать.
            </p>
            <p>
                5.2. Адміністрація Сайту вирішує питання, пов'язані з комерційним використанням Сайту, зокрема, питання щодо можливості розміщення на Сайті реклами участі в партнерських програмах и т.д.
            </p>
            <p>
                <span>5.3.</span> У разі порушення Користувачем правил, встановлених цим Регламентом, Адміністрація має право тимчасово зупинити чи заблокувати на невизначений час доступ Користувача до Сайту або його окремих сервісів, а в разі неодноразового чи грубого порушення положень Регламенту – видалити обліковий запис Користувача.
            </p>
            <p>
                <span>5.4.</span> Адміністрація залишає за собою право переглядати, а також не розміщувати отримані матеріали.
            </p>
            <p>
                <span>5.5.</span> Адміністрація має право, але не зобов'язана здійснювати модерацію повідомлень, фотографій та інших матеріалів, які розміщуються Користувачами на Сайті.
            </p>
            <p>
                <span>5.6.</span> Адміністрація не займається розглядом та вирішенням суперечок і конфліктних ситуацій, які виникають між Користувачами, проте залишає за собою право заблокувати доступ Користувача до Сайту в разі отримання від інших Користувачів мотивованих скарг на некоректну поведінку цього Користувача на Сайті.
            </p>
            <p>
                <span>5.7.</span> Адміністрація сайту не несе відповідальність перед Користувачем за будь-який непрямий, випадковий, ненавмисний збиток, включаючи упущену вигоду або втрачені дані, шкоду честі та гідності або ділової репутації, спричинені у зв'язку з використанням сайту, вмістом сайту або інших матеріалів, до яких був отриманий доступ з допомогою сайту.
            </p>
            <p>
                <b>6. Права та обов'язки Користувача</b>
            </p>
            <p>
                <span>6.1</span>. Користувач має право розміщувати на Сайті інформацію про себе, свої фотографії, розміщувати свої теми, оцінювати та коментувати фотографії інших Користувачів, створювати нові співтовариства та вступати до вже існуючих, використовувати інші сервіси Сайту.
            </p>
            <p>
                6.2. Користувач зобов'язується утримуватися від зазначених у розділі 7. цих Правил заборонених дій.
            </p>
            <p>
                <span>6.3.</span> Використовуючи Сайт, Користувач погоджується з тим, що викачує з сайту або з його допомогою будь-які матеріали на свій власний ризик і несе особисту відповідальність за можливі наслідки використання зазначених матеріалів, в тому числі за шкоду, яку це може заподіяти комп'ютеру Користувача або третім особам, за втрату даних або будь-яку іншу шкоду.
            </p>
            <p>
                <b>7. Заборонені дії</b>
            </p>
            <p>
                <span>7.1.</span> Здійснювати збір персональних даних інших Користувачів з метою їх подальшої обробки, тобто здійснення дій (операцій) з персональними даними, включаючи їх збір, систематизацію, накопичення, зберігання, уточнення (оновлення, зміну), використання, розповсюдження (у тому числі передавання), знеособлення, блокування та знищення.
            </p>
            <p>
                <span>7.2.</span> Використовувати будь-які автоматичні чи автоматизовані засоби для збору інформації, розміщеної на Сайті.
            </p>
            <p>
                <span>7.3.</span> Здійснювати пропаганду або агітацію, що збуджує соціальну, расову, національну чи релігійну ненависть і ворожнечу, пропаганду війни, соціальної, расової, національної, релігійної чи мовної вищості.
            </p>
            <div>
                <p>
                    <span>7.4</span>. Розміщувати на Сайті або передавати за допомогою особистих повідомлень інформацію обмеженого доступу (конфіденційну інформацію), якщо Користувач не є власником цієї інформації, тобто особою, яка самостійно утворила цю інформацію або отримала на підставі закону чи договору право дозволяти чи обмежувати доступ до неї, або є її власником, але, в силу закону або умов договору, на підставі якого йому була передана така інформація, не володіє достатніми правами для того, щоб розкрити цю інформацію подібним чином.
                </p>
                <p>
                    <span>7.5</span>. Розміщувати на Сайті копії охоронюваних законом результатів інтелектуальної діяльності або їх частин при відсутності у Користувача відповідних виключних чи невиключних прав на таке їх використання.
                </p>
                <p>
                    <span>7.6.</span> Розміщувати на Сайті у відкритому доступі або передавати за допомогою особистих повідомлень текстові повідомлення, графічні зображення чи інші матеріали, зміст яких є образливим для інших Користувачів чи інших осіб або може бути розціненим як такий, а також повідомлення, зображення та інші матеріали, які дискредитують Користувачів чи інших осіб, містять погрози, заклики до насильства, протиправних дій, антигромадських, аморальних вчинків, а також будь-яких інших дій, які суперечать основам правопорядку і моральності.
                </p>
                <p>
                    <span>7.7.</span> Розміщувати на Сайті повідомлення, що містять нецензурні слова та вирази.
                </p>
                <p>
                    <span>7.8.</span> Розміщувати на Сайті матеріали порнографічного характеру чи гіпертекстові посилання на Інтернет-сайти, що містять такі матеріали.
                </p>
                <p>
                    <span>7.9.</span> Розміщувати на Сайті персональні дані, у тому числі контактні дані інших Користувачів або інших осіб без їх попередньої згоди.
                </p>
                <p>
                    <span>7.10.</span> Розміщувати на Сайті зображення інших осіб без їх попередньої згоди, за винятком випадків, передбачених законом; або інших осіб без їх попередньої згоди.
                </p>
                <p>
                    <span>7.11.</span> Реєструвати більше одного облікового запису на одну й ту ж особу.
                </p>
                <p>
                    <span>7.12.</span> Розміщувати на Сайті у відкритому доступі без попередньої згоди Адміністрації, передавати за допомогою особистих повідомлень без попередньої згоди Користувача текстові повідомлення, графічні зображення та інші матеріали, які містять рекламу.
                </p>
                <p>
                    <span>7.13.</span> Здійснювати дії, спрямовані на дестабілізацію функціонування Сайту, здійснювати спроби несанкціонованого доступу до управління Сайтом або його закритих розділів (розділів, доступ до яких дозволено тільки Адміністрації), а також здійснювати будь-які інші дії, які можуть бути розцінені як мережева атака.
                </p>
                <p>
                    <span>7.14.</span> Використовувати Сайт у будь-який комерційних цілях без попереднього дозволу Адміністрації або Власника Сайту.
                </p>
                <p>
                    <b>8. Гарантії та відповідальність сторін</b>
                </p>
                <p>
                    <span>8.1.</span> Користувач гарантує, що розміщення ним на Сайті або передавання за допомогою особистих повідомлень інформації, копій охоронюваних законом результатів інтелектуальної діяльності або їх частин, а також інших матеріалів не порушує будь-яких прав та законних інтересів.
                </p>
                <p>
                    <span>8.2.</span> Користувач гарантує, що ним будуть вжиті належні заходи для забезпечення конфіденційності облікових даних, які він використовує для авторизації на Сайті, та запобігання можливості авторизації інших осіб з використанням його облікового запису.
                </p>
                <p>
                    <span>8.3.</span> Власник Сайту гарантує таємницю листування, що здійснюється Користувачем за допомогою особистих повідомлень.
                </p>
                <p>
                    <span>8.4.</span> Власник Сайту гарантує, що Адміністрація Сайту не відправлятиме Користувачам повідомлень, що містять рекламу, без попередньої згоди Користувачів.
                </p>
                <p>
                    <span>8.5.</span> Власник Сайту гарантує, що вказана Користувачем при реєстрації адреса електронної пошти буде використовуватися тільки для зв'язку Адміністрації з Користувачем, відправлення Користувачу сповіщень та повідомлень, на одержання яких він підписався, і не буде передана третім особам без попередньої згоди Користувача.
                </p>
                <p>
                    <span>8.6</span>. Власник Сайту в особі Адміністрації зобов'язується докласти всі розумні зусилля для підтримки Сайту в працездатному стані, проте не гарантує постійну та безперебійну роботу Сайту й не зобов'язаний забезпечити його безперервне функціонування.
                </p>
                <p>
                    <span>8.7</span>. За порушення положень цих Правил доступ Користувача до Сайту або його окремих сервісів може бути призупинений чи заблокований на невизначений термін. Доступ користувача до Сайту (його окремих сервісів) відновлюється на розсуд Адміністрації за письмовою заявою Користувача.
                </p>
                <p>
                    <span>8.8.</span> У разі неодноразового або грубого порушення Користувачем Правил, його обліковий запис може бути видалений.
                </p>
                <p>
                    <span>8.9.</span> За винятком випадків, прямо передбачених законом, Власник Сайту не несе відповідальності за збитки, що виникли у Користувача через технічні збої апаратного або програмного забезпечення, а також за збитки, що виникли в результаті дій Користувачів, що явно не відповідають звичайним правилам роботи з інформацією в мережі Інтернет, апаратними засобами або програмним забезпеченням.
                </p>
            </div>
        </div>
    </div>

    <div class="meta clearfix">




    </div>

</div>
