@{
    ViewBag.Title = "Історія коледжу";
}


<h1>Історія коледжу</h1>

<p>
    Історія коледжу розпочалась 1952 року з діяльності Ровенської обласної сільськогосподарської школи з підготовки голів колгоспів та однорічної школи рахівників колгоспів, яка була відкрита 1 жовтня 1952 року на виконання рішення виконкому Ровенської обласної ради депутатів трудящих від 8 вересня 1952 року.

    Саме на базі цих навчальних закладів у 1956 році відкрито Ровенський технікум бухгалтерського обліку, головним завданням якого було забезпечити потреби регіону в сільськогосподарських фахівцях (наказ № 1020-К від 8.10.56 Міністерства сільського господарства УРСР). Першим директором технікуму став Ігнатченко І. І. Розбудовувати новий навчальний заклад в нелегких повоєнних умовах покликані були 5 штатних викладачів та 5 сумісників, освіту здобували 120 учнів технікуму. У 1957 році  в технікумі було всього чотири навчальних кабінети.

    Офіційні назви навчального закладу змінювались з роками: 1969 року Ровенський технікум бухгалтерського обліку перейменовано в Ровенський сільськогосподарський технікум. У 1989 році, враховуючи вимогу часу, на базі Ровенського сільськогосподарського технікуму і радгоспу «Здобуток Жовтня» (с. Обарів Рівненського району) було створено Ровенський радгосп-технікум. Назва навчального закладу мінялась ще неодноразово: 1994 року Ровенський радгосп-технікум перейменовано в Рівненський державний сільськогосподарський технікум; 2000 року РДСГТ перейменовано в Рівненський державний аграрний технікум. З 2004 року навчальний заклад носив назву – Рівненський державний аграрний коледж. У відповідності до наказу Міністерства освіти і науки України №16 від 14.01.2016 року «Про реорганізацію Рівненського державного аграрного коледжу» наш навчальний заклад увійшов у структуру Національного університету біоресурсів і природокористування України і змінив назву на «Відокремлений структурний підрозділ «Рівненський коледж НУБіП України».

    Розвиток сільського господарства в регіоні диктував необхідність відповідного кадрового забезпечення. То ж у 1958 році в технікумі відкривається заочне відділення, в 1964 році вводиться спеціальність «Планування сільськогосподарського виробництва», в 1968 році – спеціальність «Гідромеліорація», в 1969 році – спеціальність «Промислове та цивільне будівництво». У 1989 році вводиться спеціальність «Правознавство», у 1992 – «Землевпорядкування» та «Організація заготівель і товарознавство сільськогосподарської продукції».

    Якісно новий етап в діяльності технікуму розпочався з призначенням в 1997 році на посаду директора Корсуна Ярослава Петровича.

    Стратегічним напрямком розвитку навчального закладу стало створення гнучкої моделі вузу, яка б давала можливість оперативно реагувати на потреби суспільства у тих чи інших спеціальностях. У 2000 році відкрито спеціалізацію «Технічна експертиза будівель і споруд, операції з нерухомістю», у 2001 році розпочато підготовку зі спеціальності «Фінанси», «Програмування для ЕОТ і АС» та спеціалізації «Земельно-правові відносини». У 2011 році коледж отримав ліцензію на підготовку фахівців за спеціальністю «Опорядження будівель і споруд та будівельний дизайн».

    Впродовж усієї історії аграрного коледжу завдяки творчій самовідданій праці педагогів формувався високий авторитет навчального закладу. Випускники з повагою і вдячністю згадують своїх наставників: Адамську Є. І ., Алексєєву О. В., Бербенець І. Д., Бойко М. В., Бондаря А. Л., Бондар Г. П., Вакулюка С. П. (директора технікуму у 1962-1984рр.), Валюнас Є. А., Валюнас Н. М., Герасимчук Л. М., Давидюк Н. П., Дроздову Л. С., Зварича Б. В., Кожушко В. Б., Поліщук Н. Ф., Пугайко М. К., Свиридюк Н. Я., Романишину Н. О., Червук М. Ф.,  Харченко М. І., Яремчук З.І., Ярошевського М. М., Віннічука В.М. та ін.

    За свою понад піввікову історію коледж зберіг високий творчий потенціал і конкурентоспроможність в непростих умовах реформування аграрного сектору економіки та вищої освіти України. В стінах навчального закладу за цей період підготовлено понад 40 тисяч фахівців. Успішність будь-якого навчального закладу визначається саме його випускниками. Бухгалтери, будівельники, землевпорядники, організатори комерційної діяльності, юристи, програмісти – випускники коледжу відомі не лише на рівненській землі, а й у сусідніх – Волинській, Тернопільській, Хмельницькій областях. Аграрний коледж пишається своїми вихованцями. Саме про них розповідає видання «100 найуспішніших випускників», підготовлене до 60-и річчя коледжу. Багато випускників коледжу продовжили свою освіту у вищих навчальних закладах ІІІ-ІV рівнів акредитації, а згодом повернулись в свою Alma mater викладачами, наставниками нового покоління. Свої знання та досвід молоді передають колишні випускники коледжу Бондарчук І. П., Борковська Г. В., Ковальчук С. В., Куделя О. О., Матковська І. Д., Обарчук Е. В., Чернега І. Г, Шаперчук С.В., Яткевич І. П., Гулюк Ю.С., Масталярчук Є.В., Кунах І.С., Панасюк В.О., Басюк О.П.
</p>
