@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>


<address>
    вул. Коперніка, 44
    м. Рівне<br />
    Рівненська область
    Україна
    33001<br />
    <abbr title="Phone">P:</abbr>
    (0362) 26-59-23
    <abbr title="Phone">P:</abbr>
    (0362)  62-35-47
</address>

<address>
    <strong>Email:</strong>   <a href="rdak@rv.uar.net">rdak@rv.uar.net</a><br />
    <strong>Email:</strong> <a href="rcnubip@gmail.com">rcnubip@gmail.com,</a>
</address>