@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>РКНУБіП</h1>
    <p class="lead">Рівненський Коледж Національного Університету Біоресурсів і Природокористування</p>
    <p><a href="http://rcnubip.org.ua" class="btn btn-primary btn-lg">Перейти на сайт &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Відділення загальної Підготовки</h2>
        <p>
            Сучасній молоді для успішного оволодіння азами обраної професії необхідний високий рівень
            загальноосвітньої підготовки. Організацією навчання студентів першого курсу займається
            відділення загальноосвітньої підготовки коледжу, створене в 2004 році.Його робота спрямована на
            підвищення рівня знань, умінь і навичок, опанованих сьогоднішніми студентами ще в середній
            школі, організацію  творчої діяльності, яка дозволить вчорашнім школярам швидко, безболісно і
            цікаво пройти нелегкий шлях соціальної адаптації.
        </p>
        <p><a class="btn btn-default" href="http://rcnubip.org.ua/viddilennya/zagalnoosvitnye/">Читати далі &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Відділення програмування</h2>
        <p>
            Фахівці з програмування є найбільш затребувані на українському ринку. На них є попит як серед
            державних, так і серед приватних підприємств. Зважаючи на те, що підготовку таких фахівців 
            проводить лише декілька ВУЗів регіону можна сміливо говорити про невелику конкуренцію на
            ринку праці.
        </p>
        <p><a class="btn btn-default" href="http://rcnubip.org.ua/viddilennya/programuvannya/">Більш Детальніше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Економічне відділення</h2>
        <p>
            Основним завданням педагогічного колективу є підготовка висококваліфікованих спеціалістів,
            здатних працювати в умовах ринкової економіки. Колектив відділення постійно перебуває у
            творчому пошуку, направленому на вдосконалення навчально-виховного процесу з використанням
            інтерактивних методів навчання.
        </p>
        <p><a class="btn btn-default" href="http://rcnubip.org.ua/viddilennya/ekonomichne/">Читати далі &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Технічне відділення</h2>
        <p>
            Технічне відділення було створено 12 вересня 2011 р.,
            шляхом об’єднання землевпорядного та будівельного
            відділень, яке очолив Качановський Олег Ігорович.
            З 2017 року  керівником даного підрозділу  стає кандидат
            сільськогосподарських наук, спеціаліст вищої кваліфікаційної 
            категорії, викладач-методист  Люльчик Вадим Олександрович.
            За його участі розроблено освітньо-професійну програму
            спеціальності 193 «Геодезія та землеустрій.
        </p>
        <p><a class="btn btn-default" href="http://rcnubip.org.ua/viddilennya/tehnichne/">Більш Детальніше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Юридичне відділення</h2>
        <p>
            Цікава історія створення юридичного відділення... У 1989 році у Рівненському сільськогосподарському технікумі вводиться нова спеціальність «Правознавство» на денній формі навчання, в 1991 році ця ж спеціальність відкрилася і на заочному відділенні. Відкриттю спеціальності передувала досить клопітка і наполеглива робота, адже наш коледж був одним з перших навчальних закладів І-ІІ рівня акредитації в Україні, який почав підготовку кваліфікованих спеціалістів-юристів. Значна заслуга в цьому належить директорові коледжу Корсуну Я.П., який з метою вивчення досвіду впровадження даної спеціальності відвідав декілька навчальних закладів, які вже вели підготовку правознавців, зокрема Чернігівський юридичний технікум, Ходьковський радгосп-технікум в Московській області.
        </p>
        <p><a class="btn btn-default" href="http://rcnubip.org.ua/viddilennya/yuridichne/">Читати далі &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Заочне відділення</h2>
        <p>
            З метою підготовки та перепідготовки кваліфікованих спеціалістів в нашому коледжі було відкрито заочне відділення. За роки існування навчального закладу освіту здобули понад 11 тисяч спеціалістів.
        </p>
        <p><a class="btn btn-default" href="http://rcnubip.org.ua/viddilennya/zaochne/">Більш Детальніше &raquo;</a></p>
    </div>
</div>